<mat-card>
  <h2 class="alinear">Listado de aspirantes</h2>
    <mat-card-header>
      <div>
        <mat-form-field hintLabel="Buscar categoria" appearance="fill">
          <mat-label>Buscar Aspirante</mat-label>
          <input matInput #input>
        </mat-form-field>
      </div>
    </mat-card-header>
    <mat-card-header>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
          <li>
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" mat-raised-button color="primary">Agregar Aspirante</button>
          </li>
        </ul>
      </div>
    </mat-card-header>
    <mat-card-content>
      <table mat-table class="mat-cell" [dataSource]="dataSource">
        <ng-container matColumnDef="number">
          <th class="text-center" mat-header-cell *matHeaderCellDef>No.</th>
          <td class="text-center" mat-cell *matCellDef="let element">
            <ng-container *ngIf="element">
              {{element.number}}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="noExpediente">
          <th class="text-center" mat-header-cell *matHeaderCellDef>Expediente</th>
          <td class="text-center" mat-cell *matCellDef="let element">
            <ng-container *ngIf="element">
              {{element.noExpediente}}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="nombreCompleto">
          <th mat-header-cell *matHeaderCellDef>ASPIRANTE</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element">
              {{element.nombreCompleto}}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef>DIRECCIÓN</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element">
              {{element.direccion}}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef>TELÉFONO</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element">
              {{element.telefono}}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>EMAIL</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element">
              {{element.email}}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="estatus">
          <th mat-header-cell *matHeaderCellDef>ESTATUS</th>
          <td mat-cell *matCellDef="let element">
            <ng-container *ngIf="element">
              {{element.estatus}}
            </ng-container>
          </td>
        </ng-container>
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
          <td mat-cell *matCellDef="let element; let i=index;">
            <!-- <button *ngIf="authService.hasRole('ROLE_ADMIN')" mat-icon-button color="accent">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
            <button *ngIf="authService.hasRole('ROLE_ADMIN')" mat-icon-button color="accent">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button> -->
            <button (click)="openFormResultadoExamenAdmision(element.noExpediente)" *ngIf="authService.hasRole('ROLE_ADMIN')" mat-icon-button color="accent">
              <mat-icon aria-label="Asignar">assignment</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>
