<h2 mat-dialog-title>Crear cuenta</h2>
<mat-dialog-content>
  <form [formGroup]="formRegister">
    <div class="form-container">
      <mat-form-field>
        <input
          formControlName="userName"
          matInput
          placeholder="User Name"
          required
        />
      </mat-form-field>
    </div>
    <div class="form-container">
      <mat-form-field>
        <input
          type="email"
          formControlName="email"
          matInput
          placeholder="Email"
          required
        />
      </mat-form-field>
    </div>
    <div class="form-container">
      <mat-form-field>
        <input
          formControlName="normalizedUserName"
          matInput
          placeholder="Normalized User Name"
          required
        />
      </mat-form-field>
    </div>
    <div class="form-container">
      <mat-form-field>
        <mat-label>Ingrese password</mat-label>
        <input
          formControlName="password"
          matInput
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <!-- <div class="form-container">
      <mat-form-field>
        <mat-label>Ingrese password</mat-label>
        <input formControlName="password" matInput [type] = "hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'">
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div> -->
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <div>
    <button (click)="create()" mat-button color="primary" [disabled]="formRegister.invalid">
      <mat-icon>save</mat-icon>Crear
    </button>
    <button (click)="close()" mat-button color="primary">
      <mat-icon>cancel</mat-icon>Cancelar
    </button>
  </div>
</mat-dialog-actions>
