<h2 mat-dialog-title>
  Examen Admision
</h2>
<mat-dialog-content>
  <form [formGroup]="examenAdmisionForm">
    <div class="examen-admision-container">
      <mat-form-field>
        <input formControlName="examenAdmision" matInput [matDatepicker]="picker">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" (click)="onSave()">
    <mat-icon>save</mat-icon> Guardar
  </button>
  <button mat-button color="primary" (click)="onCancel()">
    <mat-icon>cancel</mat-icon> Cancelar
  </button>
</mat-dialog-actions>

